/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4A4A4A;
}

.section {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

textarea {
    margin: auto;
    width: 90%;
    align-self: center;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}

.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitlize{
    text-transform: capitalize;
}
